/* Input */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .input-title {
    color: #E91E63;
  }
  
  .input-autocomplete {
    width: 300px;
    appearance: none;
      border: none;
      outline: none;
      border-bottom: .2em solid #E91E63;
      background: rgba(233, 30, 99, 0.2);
      border-radius: .2em .2em 0 0;
      padding: .4em;
      color: #E91E63;
  }
  
  .input-autocomplete::placeholder {
    color: #E91E63;
    opacity: 1; /* Firefox */
  }
  
  /* Not Found - When there are no results */
  .not-found {
    width: 295px;
    border-radius: 0 0 0.3em 0.3em;
    color: #E91E63;
    padding: 8px;
    background: rgba(233, 30, 99, 0.2);
  }
  
  /* <ul> list .autocomplete CSS */
  .autocomplete {
    color: #E91E63;
    border: 1px solid #E91E63;
    border-radius: 0  0 .3em .3em;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(293px + 1rem);
  }
  
  .autocomplete li {
    padding: 8px;
  }
  
  /* .autocomplete hover and selected result */
  .autocomplete > .active, .autocomplete li:hover {
      background: rgba(233, 30, 99, 0.2);
    cursor: pointer;
    font-weight: 700;
  }
  
  /* Add border-bottom to list items */
  .autocomplete li:not(:last-of-type) {
    border-bottom: 1px solid #E91E63;
  }